/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 550px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 30px;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-items {
    justify-content: space-between;
    width: 30%;
}

.header {
    background-color: lightblue;
    height: 40px;
    align-content: center;
}

/* LAYOUT */
.small-container {
    background-color: blue;
}

.section-bg {
    height: 400px;
}

.pink-paragraph {
    background-color: palevioletred;
    height: 250px;
    width: 500px;
}

.bi-column {
    background-color: white;
}

.bi-inverted {
    background-color: lightgrey;
    display: flex;
    flex-direction: row-reverse;
}

.large-col {
    background-color: cornflowerblue;
    height: 250px;
    width: 350px;
}

.small-col {
    background-color: pink;
    height: 250px;
    width: 200px;
}

.mono-block {
    background-color: lightgrey;
    height: 500px;
}

.mono-item {
    background-color: green;
    height: 400px;
    width: 550px;
}

.footer {
    background-color:#3b3a3a;
}

.info-contacs {
    padding: 10px;
}

.salmon {
    background-color: salmon;
    height: 250px;
    width: 150px;
}

.infos {
    background-color: rgb(114, 247, 149);
    height: 250px;
    width: 100px;
    border: 2px solid #b0ffee;
}

hr {
    color: lightgray;
    background-color: lightgray;
    margin-bottom: 10px;
}

.two-buttons {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

.bottom-text {
    font-size: smaller;
    background-color: salmon;
    border-style: dotted;
    border-color: black;
}