/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

/* COMMON */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    background-color: orange;
    height: 30px;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-items {
    justify-content: space-between;
    width: 30%;
}

.header {
    background-color: lightblue;
    height: 40px;
    align-content: center;
}

/* LAYOUT */
.small-container {
    background-color: blue;
}

.section-bg {
    height: 400px;
}

.pink-paragraph {
    background-color: palevioletred;
    height: 250px;
    width: 500px;
}

.bi-column {
    background-color: white;
}

.bi-inverted {
    background-color: lightgrey;
    display: flex;
    flex-direction: row-reverse;
}

.large-col {
    background-color: cornflowerblue;
    height: 250px;
    width: 350px;
}

.small-col {
    background-color: pink;
    height: 250px;
    width: 200px;
}

.mono-block {
    background-color: lightgrey;
    height: 500px;
}

.mono-item {
    background-color: green;
    height: 400px;
    width: 550px;
}